.bigfoot-footnote__button {
  font-size: 0.85em;
}
.bigfoot-footnote__content p {
  font-size: 0.95em !important;
  font-weight: 400 !important;
}
.bigfoot-footnote__content ul, ol {
  font-size: 0.95em !important;
  font-weight: 400 !important;
}

.bigfoot-footnote__content {
  padding: 0em 1em 0em;
  margin: 1em 0em 1em;
}
.bigfoot-footnote__tooltip {
  margin-left: -0.1em;
  margin-bottom: -0.38em;
  margin-top: -0.2em;
  width: 0.2em;
  height: 2.5em;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  background: #6e6e6e;
  border: 0px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}