/* Noto Serif CJK KR Regular */
@font-face {
    font-family: 'Noto Serif KR';
    font-weight: 400;
    src: local('Noto Serif CJK KR Regular'),
    url('../fonts/NotoSerifKR-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/NotoSerifKR-Regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/NotoSerifKR-Regular.otf') format('opentype'); /* Safari, Android, iOS */
}

/* Noto Serif CJK KR Bold */
@font-face {
    font-family: 'Noto Serif KR';
    font-weight: 700;
    src: local('Noto Serif CJK KR Bold'),
    url('../fonts/NotoSerifKR-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/NotoSerifKR-Bold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/NotoSerifKR-Bold.otf') format('opentype'); /* Safari, Android, iOS */
}

/* Spoqa Han Sans Regular */
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 400;
    src: local('Spoqa Han Sans Regular'), local('SpoqaHanSans-Regular'),
    url('../fonts/Spoqa Han Sans Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Spoqa Han Sans Regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Spoqa Han Sans Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* Spoqa Han Sans Bold */
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 700;
    src: local('Spoqa Han Sans Bold'), local('SpoqaHanSans-Bold'),
    url('../fonts/Spoqa Han Sans Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Spoqa Han Sans Bold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Spoqa Han Sans Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* D2Coding */
@font-face {
  font-family: 'D2Coding';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/D2Coding.eot');
  src: local('D2Coding'),
       url('../fonts/D2Coding.eot?#iefix') format('embedded-opentype'),
       url('../fonts/D2Coding.woff2') format('woff2'),
       url('../fonts/D2Coding.woff') format('woff'),
       url('../fonts/D2Coding.ttf') format('truetype'),
       url('../fonts/D2Coding.svg') format('svg');
}
@font-face {
  font-family: 'D2Coding';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/D2CodingBold.eot');
  src: local('D2Coding Bold'),
       url('../fonts/D2CodingBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/D2CodingBold.woff2') format('woff2'),
       url('../fonts/D2CodingBold.woff') format('woff'),
       url('../fonts/D2CodingBold.ttf') format('truetype'),
       url('../fonts/D2CodingBold.svg') format('svg');
}



:root {
    --default-color: #555;
    --default-color2: #333;
    --default-shade: #353535;
    --default-tint: #aaa;
    --grey-1: #979797;
    --grey-2: #e5e5e5;
    --grey-3: #f9f9f9;
    --blue: #4a9ae1;
    --shadow-color: rgba(0, 0, 0, .2);
    --code-color: #bf616a;
    --bg-color: #fff;
    --btimg: #dfdfdf;
    --hll: #ffc;
    --c: #999;
    --err: #a00;
    --err-b: #faa;
    --k: #069;
    --o: #555;
    --cm: #09f;
    --cp: #099;
    --gd-1: #fcc;
    --gd-2: #c00;
    --gr: #f00;
    --gh: #030;
    --gi-1: #cfc;
    --gi-2: #0c0;
    --go: #aaa;
    --gp: #009;
    --gu: #030;
    --gt: #9c6;
    --kt: #078;
    --m: #f60;
    --s: #d44950;
    --na: #4f9fcf;
    --nb: #366;
    --nc: #0a8;
    --no: #360;
    --nd: #99f;
    --nf: #c0f;
    --nn: #0cf;
    --nt: #2f6f9f;
    --nv: #033;
    --ow: #000;
    --w: #bbb;
    --sb: #c30;
    --sr: #3aa;
    --ss: #fc3;
    --search-input: #ddd;
    --span-lnt: #afafaf;
    --bc2: #909090;
    --copy-code-color: #111111;
    --copy-code-bc: #e3e3e3;
    --copy-code-bc2: #b3b3b3;
    --bigfoot-1: rgba(110, 110, 110, 0.2);
    --bigfoot-2: rgba(110, 110, 110, 0.5);
    --bigfoot-3: #6e6e6e;
    --bigfoot-4: #fafafa;
    --bigfoot-5: #c3c3c3;
    --bigfoot-6: rgba(0, 0, 0, 0.3);
    --bigfoot-7: rgba(250, 250, 250, 0);
    --bigfoot-8: #444;
}

[data-theme="dark"] {
    --default-color: #dfdfdf;
    --default-color2: #eee;
    --default-shade: #efefef;
    --default-tint: #c8c8c8;
    --grey-1: #b7b7b7;
    --grey-2: #7b7b7b;
    --grey-3: #1c1c1c;
    --blue: #5da8e5;
    --shadow-color: rgba(250, 250, 250, .2);
    --code-color: #edc4cc;
    --bg-color: #121212;
    --btimg: #bcbcbc;
    --hll: #ccf;
    --c: #b8b8b8;
    --err: #0aa;
    --err-b: #aff;
    --k: #e9a387;
    --o: #e6e6e6;
    --cm: #ffdc7e;
    --cp: #e08e8a;
    --gd-1: #cff;
    --gd-2: #0cc;
    --gr: #0ff;
    --gh: #ede0e8;
    --gi-1: #fcf;
    --gi-2: #c0c;
    --go: #c8c8c8;
    --gp: #e3ec94;
    --gu: #b880a4;
    --gt: #b693da;
    --kt: #d68d86;
    --m: #8eccff;
    --s: #49d4cd;
    --na: #f3cf9e;
    --nb: #cba09d;
    --nc: #e6949b;
    --no: #bd86c3;
    --nd: #ff9;
    --nf: #a9ff91;
    --nn: #ffa489;
    --nt: #f3d4c2;
    --nv: #ffdfd2;
    --ow: #f5f5f5;
    --w: #ededed;
    --sb: #82D2E9;
    --sr: #e69ea3;
    --ss: #99a6fe;
    --search-input: #727272;
    --span-lnt: #e5e5e5;
    --bc2: #e6e6e6;
    --copy-code-color: #f7f7f7;
    --copy-code-bc: #787878;
    --copy-code-bc2: #939393;
    --bigfoot-1: rgba(218, 218, 218, 0.2);
    --bigfoot-2: rgba(218, 218, 218, 0.5);
    --bigfoot-3: #dadada;
    --bigfoot-4: #212121;
    --bigfoot-5: #a5a5a5;
    --bigfoot-6: rgba(245, 245, 245, 0.3);
    --bigfoot-7: rgba(33, 33, 33, 0);
    --bigfoot-8: #f5f5f5;
    --image-filter: brightness(.8) contrast(1.2);
}

img:not([src*=".svg"]) {
    filter: var(--image-filter);
}


.theme-switch{
    background: transparent url(../svgs/sun.svg) no-repeat top left;
    background-size: 1.5em 1.5em;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    width: 1.4em;
    height: 1.4em;
}
.theme-switch.checked{
    background: transparent url(../svgs/moon.svg) no-repeat 50% 50%;
}

#loadDisqusButton {
  background-color: var(--default-color);
  border: none;
  color: var(--bg-color);
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 4px;
  margin: 4px auto 4px;
  cursor: pointer;
}

#searchForm {
    display: inline-block;
    width: 80%;
    max-width: 600px;
    padding: 0;
    margin: 0;
}
    
#searchInput {
    border: 0;
    background-color: var(--search-input);
    display: inline-block;
    font-size: 1em;
    padding: 4px 10px;
    width: 60%;
    max-width: 300px;
    margin: 4px auto 4px;
    vertical-align: middle;
    border-radius: 4px;
/*    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: none; */
}

#searchButton {
  background-color: var(--default-color);
  border: 0;
  color: var(--bg-color);
  padding: 4px 10px;
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
  margin: 4px auto 4px;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
/*  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
    -webkit-appearance: none; */
}

html {
  font-family: 'Libre Baskerville', 'Noto Serif KR', 'Times New Roman', Times, serif;
  color: var(--default-color2);
  background-color: var(--bg-color);
}

body {
  color: var(--default-color2);
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', 'Spoqa Han Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
  color: var(--default-shade);
}

.catalogue-time {
    font-family: Palatino, 'Palatino LT STD', 'Palatino Linotype', 'Book Antiqua', 'Georgia', 'Noto Serif KR', serif;
}

.catalogue-title {
    font-family: 'Helvetica Neue', 'Spoqa Han Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
}

pre,
code {
  font-family: 'D2Coding', Menlo, Monaco, monospace;
}

.nav a {
  font-family: 'Helvetica Neue', 'Spoqa Han Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
}

footer {
  font-family: Palatino, 'Palatino LT STD', 'Palatino Linotype', 'Book Antiqua', 'Georgia', 'Noto Serif KR', serif;
}

.pagination {
  font-family: Palatino, 'Palatino LT STD', 'Palatino Linotype', 'Book Antiqua', 'Georgia', 'Noto Serif KR', serif;
}

.pagination .top {
  font-family: 'Helvetica Neue', 'Spoqa Han Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
}

.post-info {
    font-family: Palatino, 'Palatino LT STD', 'Palatino Linotype', 'Book Antiqua', 'Georgia', 'Noto Serif KR', serif;
}

.post-title {
    font-family: 'Helvetica Neue', 'Spoqa Han Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 3rem;
}

.post img + em {
    font-family: 'Helvetica Neue', 'Spoqa Han Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
}

span.lnt {
    color: var(--span-lnt);
    display: flex;
    margin-right: 0.6em;
}

button {
    font-family: 'Helvetica Neue', 'Spoqa Han Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
}

a.imgButton img {
    display: inline;
    border: 0px;
    outline: none;
    border-width: 0px;
    outline-width: 0px;
    border-bottom: none;
}

a.imgButton {
    display: inline-block;
    margin-left: 2px;
}

.imgT {
    padding: 0;
    background: url(../svgs/tag.svg) no-repeat top left;
    display: inline-block;
    background-size: 11px 11px;
    height: 11px;
    width: 11px;
    vertical-align: middle;
}

.imgC {
    padding: 0;
    background: url(../svgs/folder-open.svg) no-repeat top left;
    display: inline-block;
    background-size: 13px 13px;
    height: 13px;
    width: 13px;
    vertical-align: middle;
}

.imgFB {
    padding: 0;
    background: url(../svgs/facebook.svg) var(--btimg) no-repeat top left;
    display: block;
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
    border-radius: 4px;
}

.imgTT {
    padding: 0;
    background: url(../svgs/twitter.svg) var(--btimg) no-repeat top left;
    display: block;
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
    border-radius: 4px;
}

.imgEM {
    padding: 0;
    background: url(../svgs/email.svg) var(--btimg) no-repeat top left;
    display: block;
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
    border-radius: 4px;
}

#taxonomies {
    float: right;
    clear: both;
}

#shareButtons {
    float: right;
    clear: both;
}

#loadDisqusButton {
    clear: both;
}

.spanSpace1 {
    display: inline-block;
    width: 4px;
}

.spanSpace2 {
    display: inline-block;
    width: 8px;
}

.emptyLine {
    clear: both;
    display: block;
}

.tags {
    margin: 8px 0 0 0;
    padding: 0;
    display: inline-block;
}

.tags li {
    display: inline-block;
}

.tags li:after {
    margin-right: 2px;
    content: ' ';
}
.tags li:last-child:after {
    margin-right: 0px;
}

.tags li a {
    color: var(--bg-color);
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: var(--bc2);
    font-family: 'Helvetica Neue', 'Spoqa Han Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
}

.categories {
    margin: 8px 0 0 0;
    padding: 0;
    display: inline-block;
}

.categories li {
    display: inline-block;
}

.categories li a {
    color: var(--bg-color);
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: var(--bc2);
    font-family: 'Helvetica Neue', 'Spoqa Han Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
}

.categories li:after {
    margin-right: 2px;
    content: ' ';
}
.categories li:last-child:after {
    margin-right: 0px;
}



.highlight-wrapper {
  display: block;
}

.highlight {
  position: relative;
  z-index: 0;
  border-radius: 4px; */
}

.highlight > .chroma {
  position: static;
  z-index: 1;
  border-radius: 4px;
  padding: 10px;
}

.chroma .lntd:first-child {
  padding: 7px 7px 7px 10px;
  margin: 0;
}

.chroma .lntd:last-child {
  padding: 7px 10px 7px 7px;
  margin: 0;
}

.copy-code-button {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.5px;
  width: 70px;
  color: var(--copy-code-color);
  background-color: var(--copy-code-bc);
  border: 1.25px solid var(--copy-code-color);
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  white-space: nowrap;
  padding: 4px 4px 4px 4px;
  margin: 0 0 0 1px;
  cursor: pointer;
  opacity: 0.6;
}

.copy-code-button:hover,
.copy-code-button:focus,
.copy-code-button:active,
.copy-code-button:active:hover {
  color: var(--copy-code-color);
  background-color: var(--copy-code-bc2);
  opacity: 0.8;
}

.copyable-text-area {
  position: absolute;
  height: 0;
  z-index: -1;
  opacity: .01;
}




a {
  color: var(--blue);
}

blockquote {
  border-left: .25rem solid var(--grey-2);
  color: var(--grey-1);
}


.catalogue-item {
    border-bottom: 1px solid var(--grey-2);
    color: var(--default-color);
}

.catalogue-time {
    color: var(--default-tint);
}

.catalogue-title {
    color: var(--default-shade);
}

.catalogue-line {
    border-top: .2rem solid var(--default-shade);
}

code {
  background-color: var(--grey-3);
  color: var(--code-color);
}

.highlight {
  background-color: var(--grey-3);
}

.highlight .lineno {
    color: var(--default-tint);
}

.nav {
  box-shadow: 0 2px 2px -2px var(--shadow-color);
}

.nav-title {
    color: var(--default-color);
}

.nav li {
    color: var(--default-color);
}

.nav a {
    color: var(--default-color);
}

footer span {
    color: var(--default-color);
}

.pagination {
  border-top: .5px solid var(--grey-2);
}

.pagination span {
    color: var(--default-shade);
}

.pagination .top {
    color: var(--default-color);
}

.pagination .arrow {
    color: var(--default-color);
}

.post-info {
    color: var(--default-tint);
}

.post-title {
    color: var(--default-shade);
}

.post-line {
    border-top: 0.4rem solid var(--default-shade);
}

.post img + em {
    color: var(--default-tint);
}


.highlight .hll { background-color: var(--hll); }
.highlight .c { color: var(--c); } /* Comment */
.highlight .err { color: var(--err); background-color: var(--err-b); } /* Error */
.highlight .k { color: var(--k); } /* Keyword */
.highlight .o { color: var(--o); } /* Operator */
.highlight .cm { color: var(--cm); } /* Comment.Multiline */
.highlight .cp { color: var(--cp); } /* Comment.Preproc */
.highlight .c1 { color: var(--c); } /* Comment.Single */
.highlight .cs { color: var(--c); } /* Comment.Special */
.highlight .gd { background-color: var(--gd-1); border: 1px solid var(--gd-2); } /* Generic.Deleted */
.highlight .gr { color: var(--gr); } /* Generic.Error */
.highlight .gh { color: var(--gh); } /* Generic.Heading */
.highlight .gi { background-color: var(--gi-1); border: 1px solid var(--gi-2); } /* Generic.Inserted */
.highlight .go { color: var(--go); } /* Generic.Output */
.highlight .gp { color: var(--gp); } /* Generic.Prompt */
.highlight .gu { color: var(--gu); } /* Generic.Subheading */
.highlight .gt { color: var(--gt); } /* Generic.Traceback */
.highlight .kc { color: var(--k); } /* Keyword.Constant */
.highlight .kd { color: var(--k); } /* Keyword.Declaration */
.highlight .kn { color: var(--k); } /* Keyword.Namespace */
.highlight .kp { color: var(--k); } /* Keyword.Pseudo */
.highlight .kr { color: var(--k); } /* Keyword.Reserved */
.highlight .kt { color: var(--kt); } /* Keyword.Type */
.highlight .m { color: var(--m); } /* Literal.Number */
.highlight .s { color: var(--s); } /* Literal.String */
.highlight .na { color: var(--na); } /* Name.Attribute */
.highlight .nb { color: var(--nb); } /* Name.Builtin */
.highlight .nc { color: var(--nc); } /* Name.Class */
.highlight .no { color: var(--no); } /* Name.Constant */
.highlight .nd { color: var(--nd); } /* Name.Decorator */
.highlight .ni { color: var(--c); } /* Name.Entity */
.highlight .ne { color: var(--gd-2); } /* Name.Exception */
.highlight .nf { color: var(--nf); } /* Name.Function */
.highlight .nl { color: var(--nd); } /* Name.Label */
.highlight .nn { color: var(--nn); } /* Name.Namespace */
.highlight .nt { color: var(--nt); } /* Name.Tag */
.highlight .nv { color: var(--nv); } /* Name.Variable */
.highlight .ow { color: var(--ow); } /* Operator.Word */
.highlight .w { color: var(--w); } /* Text.Whitespace */
.highlight .mf { color: var(--m); } /* Literal.Number.Float */
.highlight .mh { color: var(--m); } /* Literal.Number.Hex */
.highlight .mi { color: var(--m); } /* Literal.Number.Integer */
.highlight .mo { color: var(--m); } /* Literal.Number.Oct */
.highlight .sb { color: var(--sb); } /* Literal.String.Backtick */
.highlight .sc { color: var(--sb); } /* Literal.String.Char */
.highlight .sd { color: var(--sb); } /* Literal.String.Doc */
.highlight .s2 { color: var(--sb); } /* Literal.String.Double */
.highlight .se { color: var(--sb); } /* Literal.String.Escape */
.highlight .sh { color: var(--sb); } /* Literal.String.Heredoc */
.highlight .si { color: var(--err); } /* Literal.String.Interpol */
.highlight .sx { color: var(--sb); } /* Literal.String.Other */
.highlight .sr { color: var(--sr); } /* Literal.String.Regex */
.highlight .s1 { color: var(--sb); } /* Literal.String.Single */
.highlight .ss { color: var(--ss); } /* Literal.String.Symbol */
.highlight .bp { color: var(--nb); } /* Name.Builtin.Pseudo */
.highlight .vc { color: var(--nv); } /* Name.Variable.Class */
.highlight .vg { color: var(--nv); } /* Name.Variable.Global */
.highlight .vi { color: var(--nv); } /* Name.Variable.Instance */
.highlight .il { color: var(--m); } /* Literal.Number.Integer.Long */

.css .o,
.css .o + .nt,
.css .nt + .nt { color: var(--c); }


.bigfoot-footnote__button {
  background-color: var(--bigfoot-1);
  border-radius: 4px;
}
.bigfoot-footnote__button:hover, .bigfoot-footnote__button:focus {
  background-color: var(--bigfoot-2);
}
.bigfoot-footnote__button:active {
  background-color: var(--bigfoot-2);
}
.bigfoot-footnote__button.is-active {
  background-color: var(--bigfoot-3);
}
.bigfoot-footnote {
  background: var(--bigfoot-4);
  border: 1px solid var(--bigfoot-5);
  box-shadow: 0px 0px 8px var(--bigfoot-6);
}
.bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:before {
  background-image: -webkit-linear-gradient(top, var(--bigfoot-4) 50%, var(--bigfoot-7) 100%);
  background-image: linear-gradient(to bottom, var(--bigfoot-4) 50%, var(--bigfoot-7) 100%);
}
.bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:after {
  background-image: -webkit-linear-gradient(bottom, var(--bigfoot-4) 50%, var(--bigfoot-7) 100%);
  background-image: linear-gradient(to top, var(--bigfoot-4) 50%, var(--bigfoot-7) 100%);
}
.bigfoot-footnote__wrapper {
  background-color: var(--bigfoot-4);
}
.bigfoot-footnote__content {
  background: var(--bigfoot-4);
}
.bigfoot-footnote__content p {
  color: var(--bigfoot-8);
}
.bigfoot-footnote__content ul, ol {
  color: var(--bigfoot-8);
}
.bigfoot-footnote__tooltip {
  background: var(--bigfoot-4);
  border: 1px solid var(--bigfoot-5);
  box-shadow: 0px 0px 8px var(--bigfoot-6);
}
.bigfoot-footnote__button:after {
  color: var(--bigfoot-2);
}
.bigfoot-footnote__button:hover:after, .bigfoot-footnote__button.is-active:after {
  color: var(--bg-color);
}
